<div class="container-fluid" data-ng-controller="AuthenticationController">
  <div class="col s12 frontpageImage">
  </div>
  <div class="row mainBody">
    <div class="col s8">
      <div class="row">
        <div class="col s12">
          <div class="card darken-1 propertiesCard">
            <blockquote>
              <h4 class="teal-text">Recent properties</h4>
            </blockquote>
            <div class="card-content">
              <div ng-repeat="property in properties | limitTo: 4">
                <div class="col s6">
                  <div class="card small">
                    <div class="card-image">
                      <img ng-src="{{property.image}}">
                    </div>
                    <div class="card-content">
                      <span class="card-title red-text" >{{property.title}}</span>
                      <p>{{property.description | limitTo: 70}}.....</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-action right-align ">
              <a href="#">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div ng-hide="authentication.user"> 
        <div class="row">
          <nav>
            <div class="nav-wrapper">
              <a class="brand-logo center" style="font-size: 24px">Create an account</a>
            </div>
          </nav>
        </div>
        <div class="row loginBody">
          <div class="col s12">

          <div class="row center-align teal-text"><h5>Login</h5></div>

          <div class="row">
            <form data-ng-submit="signin()">
              <div class="row">
                <div class="input-field col s12 valign">
                  <input id="first_name" type="text" class="validate" data-ng-model="credentials.username">
                  <label for="first_name">Username</label>
                </div>
                <div class="input-field col s12">
                  <input id="first_name" type="text" class="validate" data-ng-model="credentials.password">
                  <label for="first_name">password</label>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Login</button>
              </div>
            </form>
          </div>

          <div class="row center-align" ui-route="/signup" ng-class="{active: $uiRoute}" data-ng-hide="authentication.user">New on Quicksale? <a href="/#!/signup">Sign Up to continue</a></div>
          </div>
        </div>
        <!-- <div class="forgot-password">
          <a href="/#!/password/forgot">Forgot your password?</a>
        </div> -->
      </div>


      <div ng-show="authentication.user"> 
        <div class="row">
          <nav>
            <div class="nav-wrapper">
              <a class="brand-logo center" style="font-size: 24px">Welcome</a>
            </div>
          </nav>
        </div>
        <div class="row loginBody" style="padding: 10px;">
          <p class=" valign">Welcome to QUicksale, we have a variety of properties for sale, feel free to check and make your choice</p>
        </div>
      </div>
    </div>
  </div>
</div>