body {
  background: url('http://res.cloudinary.com/drl4zlijn/image/upload/v1434056791/subtle_white_mini_waves_f5igs7.png') no-repeat center center fixed;
  background-size: 100%
}
.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.frontpageImage {
  background: url('http://res.cloudinary.com/drl4zlijn/image/upload/v1434056810/banner_edit_w5wmzv.png') no-repeat fixed;
  background-size: 100%;
  min-height: 400px;
}
.mainBody {
  margin-top: 35px;
}

.loginBody {
  margin-top: 45px;
  background-color: white;
  border-radius: 10px;
}

.propertiesCard {
  margin-top: 0;
}

.pageHeader {
  margin-bottom: 0;
}