.propertyImage {
  width: 419px;
  height: 266px;
}

.property {
  width: 350px;
  height: 350px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-left: 47px;
}

.searchField {
  margin: 0px;
}

.searchbar {
  margin-bottom: 0px;
  width: 20px;
}

.headWrapper {
  background-color: red;
}

.imageEdit {
  width: 300px;
  height: 300px
}

.propertyCards {
  background-color: rgba(247, 8, 8, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /*background-color: rgba(247, 8, 8, 0.2);*/
  margin: 10px;
  margin-bottom: 30px;
}

.myProperties {
  padding-top: 20px;
  padding-left: 95px;
}

.propertyImageCard {
  margin: 0;
  border-radius: 0;
  padding: 0;
  background-color: white;
  width: 419px;
  height: 266px;
}

.cardMargin {
  padding-left: -11px;
}

.propertyDetails {
  border-bottom: 2px solid #A58F8C;
  max-height: 190px;
  min-height: 190px;
  overflow: auto;
}

.propertyHeading {
  font-size: 35px;
}

.propetyPageHead {
  background-color: rgba(247, 8, 8, 0.2);
  margin: 10px;
}

.tools {
  padding-top: 10px;
}

.progressWrapper {
  margin-top: 60px;
}

.viewPropertyWrapper {
  margin-top: 60px;
}

.contactPreloader {
  margin-top: 200px;
}

.cardImageWrapper {
  height: auto;
}

.propertyDetailsWrapper {
  margin-top: 70px;
  background-color: #fff;
  max-height: 548px;
  overflow: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.propertyCardView {
  margin-top: 60px;
}

.contactFormWrapper {
  margin-top: 70px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}