.propertyImage {
  width: 370px;
  height: 220px;
}

.property {
  width: 350px;
  height: 350px;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-left: 47px;
}

.searchField {
  margin: 0px;
}

.searchbar {
  margin-bottom: 0px;
  width: 20px;
}

.headWrapper {
  background-color: red;
}

.imageEdit {
  width: 300px;
  height: 300px
}

.propertyCards {
  background-color: rgba(116, 16, 16, 0.3);
  margin: 10px;
}

.propertyImageCard {
  margin: 0;
  border-radius: 0;
}

.cardMargin {
  padding-left: -11px;
}

.propertyDetails {
  border-bottom: 2px solid #0c133a;
  max-height: 190px;
  min-height: 190px;
  overflow: auto;
}

.propertyHeading {
  font-size: 35px;
}

.propetyPageHead {
  background-color: rgba(116, 16, 16, 0.1);
  margin: 10px;
}

.tools {
  padding-top: 10px;
}