<div class="row">
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="title" type="text" class="validate" ng-model="properties.title">
    <label for="title">Title</label>
  </div>
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="cost" type="text" class="validate" ng-model="properties.price">
    <label for="cost">Cost</label>
  </div>
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="street" type="text" class="validate" ng-model="properties.street">
    <label for="street">Street</label>
  </div>
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="city" type="text" class="validate" ng-model="properties.city">
    <label for="city">City</label>
  </div>
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="state" type="text" class="validate" ng-model="properties.state">
    <label for="state">State</label>
  </div>
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="country" type="text" class="validate" ng-model="properties.country">
    <label for="country">Country</label>
  </div>
  <div class="input-field row">
    <i class="mdi-communication-phone prefix"></i>
    <input id="phoneNum" type="text" class="validate" ng-model="properties.phone_number">
    <label for="phoneNum">Contact Phone number</label>
  </div>
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <input id="email" type="text" class="validate" ng-model="properties.email">
    <label for="email">Contact E-mail</label>
  </div>
  <div class="input-field row">
    <i class="mdi-action-account-circle prefix"></i>
    <textarea id="description" class="materialize-textarea" ng-model="properties.description"></textarea>
    <label for="description">Description</label>
  </div>
  <div class="file-field input-field">
    <input class="file-path validate" type="text" ng-model="files[0].name" disabled />
      <div class="btn">
        <span>Image</span>
        <input type="file" data-ng-file-select="onFileSelect($files)" />
      </div>
  </div>
  <!-- <div>
    <input type="file" data-ng-file-select="onFileSelect($files)" accept="image/*" />
  </div> -->
  <div class="input-field row right-align">
    <a class="waves-effect waves-light btn" ng-click="addProperty()">Add Property</a>
  </div>
</div>