<div class="row">
  <div class="col s6 offset-s3 center-align contactFormWrapper topNav" style="padding:0">

    <div class="row">
      <nav>
        <div class="nav-wrapper " style="background-color:#0c133a;">
          <a class="brand-logo center" style="font-size: 24px;">Contact</a>
        </div>
      </nav>
      <form name="contactAgent" novalidate>
        <div class="input-field row">
          <i class="mdi-image-timer-auto prefix"></i>
          <input id="name" type="text" class="validate" name="name" ng-model="user.displayName" disabled required placeholder="Name" style="color: black">
          <span class="errorMessage" ng-show="conatctAgent.name.$error.required &amp;&amp; conatctAgent.name.$dirty">Title cannot be empty</span>
        </div>
        <div class="input-field row">
          <i class="mdi-communication-email prefix"></i>
          <input id="email" type="text" class="validate" name="email" ng-model="user.email" disabled required placeholer="Email" style="color: black">
          <span class="errorMessage" ng-show="conatctAgent.email.$error.required &amp;&amp; conatctAgent.email.$dirty">Title cannot be empty</span>
        </div>
        <div class="input-field row">
          <i class="mdi-editor-mode-edit prefix"></i>
          <input id="subject" type="text" class="validate" name="subject" ng-model="mailContent.subject" required>
          <label for="subject">Subject</label>
          <span class="errorMessage" ng-show="conatctAgent.subject.$error.required &amp;&amp; conatctAgent.subject.$dirty">Title cannot be empty</span>
        </div>
        <div class="input-field row">
          <i class="mdi-notification-event-note prefix"></i>
          <textarea id="message" name="message" class="materialize-textarea" ng-model="mailContent.message" required></textarea>
          <label for="message">Message</label>
          <span class="errorMessage" ng-show="addProperty.message.$error.required &amp;&amp; addProperty.message.$dirty">Description cannot be empty</span>
        </div>
        <div class="input-field row center-align">
          <input type="button" class="waves-effect waves-light btn" ng-click="sendMail()" ng-disabled="contactAgent.$invalid || loading" value="Send Mail"/>
        </div>
      </form>
    </div>
  </div>

  <div class="col s2 offset-s1 contactPreloader" ng-show="loading">
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
        <p class="center-align">Loading.....</p>
      </div>
  </div>
</div>