<div class="container-fluid">
  
  <div class="row">
    <div class="col s3 offset-s1">

      <div class="row"><img class="imageEdit" ng-src="{{properties.image}}"></div>
      <div class="row right-align">
        <a class="waves-effect waves-light btn" ng-show="editImage" ng-click="edit_image()">Edit Image</a>
        <div ng-show="allowEdit">
          <form name="updateImage">
            <div class="file-field input-field">
              <input class="file-path validate" type="text" ng-model="fileName" disabled required/>
                <div class="btn">
                  <span>Image</span>
                  <input type="file" name="pic" data-ng-file-select="onFileSelect($files)" accept="image/*"/>
                </div>
            </div>
            <a class="waves-effect waves-light btn" ng-click="cancelEdit()">Cancel</a>
            <input type="button" class="waves-effect waves-light btn" ng-click="update_Image()" value="Update" ng-disabled="updateImage.$invalid">
          </form>
        </div>
      </div>
      
    </div>
    <div class="col s6 offset-s1">
      <fieldset ng-disabled="isDisabled">
        <form name="addProperty" novalidate>
          <div class="input-field row">
            <i class="mdi-action-home prefix"></i>
            <input id="title" type="text" class="validate" name="title" ng-model="properties.title" placeholder="Title" required>
            <span class="errorMessage" ng-show="addProperty.title.$error.required &amp;&amp; addProperty.title.$dirty">Title cannot be empty</span>
          </div>
          <div class="input-field row">
            <i class="mdi-editor-attach-money prefix"></i>
            <input id="cost" type="number" name="cost" class="validate" placeholder="Cost" ng-model="properties.price" min="0" required>
            <span class="errorMessage" ng-show="addProperty.cost.$error.required &amp;&amp; addProperty.cost.$dirty">Fill in the property cost</span>
            <span class="errorMessage" ng-show="addProperty.cost.$error.number">Enter valid price</span>
            <span class="errorMessage" ng-show="addProperty.cost.$error.min">Amount cannot be negative</span>
          </div>
          <div class="input-field row">
            <i class="mdi-maps-place prefix"></i>
            <input id="street" name="street" type="text" class="validate" ng-model="properties.street" placeholder="Street" required>
            <span class="errorMessage" ng-show="addProperty.street.$error.required &amp;&amp; addProperty.street.$dirty">Street cannot be empty</span>
          </div>
          <div class="input-field row">
            <i class="mdi-maps-place prefix"></i>
            <input id="city" name="city" type="text" class="validate" ng-model="properties.city" placeholder="City" required>
            <span class="errorMessage" ng-show="addProperty.city.$error.required &amp;&amp; addProperty.city.$dirty">City cannot be empty</span>
          </div>
          <div class="input-field row">
            <i class="mdi-maps-place prefix"></i>
            <input id="state" name="state" type="text" class="validate" ng-model="properties.state" placeholder="State" required>
            <span class="errorMessage" ng-show="addProperty.state.$error.required &amp;&amp; addProperty.state.$dirty">State cannot be empty</span>
          </div>
          <div class="input-field row">
            <i class="mdi-maps-place prefix"></i>
            <input id="country" name="country" type="text" class="validate" ng-model="properties.country" placeholder="Country" required>
            <span class="errorMessage" ng-show="addProperty.country.$error.required &amp;&amp; addProperty.country.$dirty">Country cannot be empty</span>
          </div>
          <div class="input-field row">
            <i class="mdi-communication-phone prefix"></i>
            <input id="phoneNum" name="phonenum" type="text" class="validate" ng-model="properties.phone_number" placeholder="phonenum" required>
            <span class="errorMessage" ng-show="addProperty.phonenum.$error.required &amp;&amp; addProperty.phonenum.$dirty">Phone number cannot be empty</span>
          </div>
          <div class="input-field row">
            <i class="mdi-communication-email prefix"></i>
            <input id="email" name="email" type="email" class="validate" ng-model="properties.email" placeholder="Email" required>
            <span class="errorMessage" ng-show="addProperty.email.$error.required &amp;&amp; addProperty.email.$dirty">Email cannot be empty</span>
            <span class="errorMessage" ng-show="addProperty.email.$error.email &amp;&amp; addProperty.email.$dirty">Email not valid</span>
          </div>
          <div class="input-field row">
            <i class="mdi-notification-event-note prefix"></i>
            <textarea id="description" name="description" class="materialize-textarea" ng-model="properties.description" placeholder="Description" required></textarea>
            <span class="errorMessage" ng-show="addProperty.description.$error.required &amp;&amp; addProperty.description.$dirty">Description cannot be empty</span>
          </div>
          <div class="input-field row right-align">
            <input type="button" class="waves-effect waves-light btn" ng-disabled="addProperty.$invalid" ng-click="updateProperty()" value="Update Property"/>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>