<div class="row propetyPageHead">
  <div class="col s6 myProperties" style="padding-top:20px; padding-left:95px">
    <span class="propertyHeading">My Properties</span>
  </div>

  <div class="col s6 right-align">
    <div class="row tools">
      <div class="col s6 offset-s6">
        <div class="input-field searchField">
          <i class="mdi-action-search prefix"></i>
          <input id="search" type="text" class="validate searchbar" ng-model="search">
          <label for="search">Search Properties</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row propertyCards" ng-repeat="property in properties | filter: search">
  <div class="col s4" style="padding-left: 0">
    <div class="row card-panel propertyImageCard">
      <img ng-src="{{property.image}}" class="propertyImage">
    </div>
  </div>

  <div class="col s8">

    <div class="row propertyDetails">
      <p>Title: {{property.title}}</p>
      <p>Description: {{property.description}}</p>
      <p>Price: {{property.price}}</p>
    </div>

    <div class="row right-align"><a href="/#!/properties/{{property._id}}"class="waves-effect waves-light btn">View Property</a></div>
    
  </div>

</div>