<div class="row">
  <div class="col s12">
    <div class="row viewPropertyWrapper">
      <div class="col s6"><img ng-src="{{property.image}}" class="property"></div>
      <div class="col s6">
        <div class="row">
          <p>{{property.title}}</p>
          <p>{{property.price}}</p>
          <p>{{property.posted_at | date}}</p>
        </div>
        <div class="row">
          <a href="/#!/properties/{{property._id}}/edit" class="waves-effect waves-light btn" ng-show="user._id===owner">Edit</a>
          <a class="waves-effect waves-light btn" ng-click="deleteProperty()" ng-show="user._id===owner">Delete</a>
          <a class="waves-effect waves-light btn" href="/#!/properties/{{property._id}}/contact-agent" ng-hide="user._id===owner">Contact agent</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p>{{property.description}}</p>
        <p>{{property.street}},{{property.city}}, {{property.state}}</p>
        <p>{{property.posted_by.displayName}}</p>
      </div>
    </div>
  </div>
</div>